<h3>Quick Example 6 (Home Folder)</h3>
<p>
    This text is shown because when the view path is searched for it looks in the following order:
    <ul>
        <li>/Views/&lt;ControllerName&gt;/Components/&lt;ComponentName&gt;</li>
        <li>/Views/Shared/Components/&lt;ComponentName&gt;</li>
    </ul> 
</p>
