<h3>Quick Example 4</h3>
<p>
    Example of a View Component where we call the invoke by using "nameof", so that we are able to check at compile time if the View component name is correct.
</p>

<pre>
    <code>
        public class QuickExample4 : ViewComponent
        {
            public async Task&lt;IViewComponentResult&gt; InvokeAsync()
            {
                return View();
            }
        }
    </code>
</pre>

<pre>
    <code>
        &#64;await Component.InvokeAsync(nameof(QuickExample4))
    </code>
</pre>