<h3>Quick Example 7 (HelloWorld.cshtml)</h3>
<p>
    This text is displayed as we are able to specify the view we want to use rather than accepting the Default.cshtml
</p>

<pre>
    <code>
        public async Task&lt;IViewComponentResult&gt; InvokeAsync()
        {
            return View("HelloWorld");
        }
    </code>
</pre>