<h3>Quick Example 2</h3>
<p>
    Example of a basic View Component with no parameters. Showing that the View Component doesn't need to have the "ViewComponent" suffix
</p>

<pre>
    <code>
        public class QuickExample2 : ViewComponent
        {
            public async Task&lt;IViewComponentResult&gt; InvokeAsync()
            {
                return View();
            }
        }
    </code>
</pre>

<pre>
    <code>
        &#64;await Component.InvokeAsync("QuickExample2")
    </code>
</pre>