<h3>Quick Example 3</h3>
<p>
    Example of a View Component whose name is defined in the ViewComponent Attribute.
</p>

<pre>
    <code>
        [ViewComponent(Name="ExampleUsingAttributeName")]
        public class QuickExample3ViewComponent : ViewComponent
        {
            public async Task&lt;IViewComponentResult&gt; InvokeAsync()
            {
                return View();
            }
        }
    </code>
</pre>

<pre>
    <code>
        &#64;await Component.InvokeAsync("ExampleUsingAttributeName")
    </code>
</pre>