<h3>Quick Example 1</h3>
<p>
    Example of a basic View Component with no parameters. Even though the View Component is "QuickExample1ViewComponent" it only needs to be called with "QuickExample1"
</p>

<pre>
    <code>
        public class QuickExample1ViewComponent : ViewComponent
        {
            public async Task&lt;IViewComponentResult&gt; InvokeAsync()
            {
                return View();
            }
        }
    </code>
</pre>

<pre>
    <code>
        &#64;await Component.InvokeAsync("QuickExample1")
    </code>
</pre>