@using BlogViewComponent.ViewComponents
@{
    ViewData["Title"] = "Quick Examples";
}

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("QuickExample1")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("QuickExample2")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("ExampleUsingAttributeName")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync(nameof(QuickExample4))
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("QuickExample5", new { RandomText = "Random Text for Quick Example 5" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("QuickExample6")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("QuickExample7")
    </div>
</div>