@model BlogViewComponent.Core.Models.QuickExampleModel

<h3>Quick Example 5</h3>
<p>
    Example of passing in a parameter. Parameter passed in is "Random Text" with a value of @Model.Text
</p>

<pre>
    <code>
        public class QuickExample5ViewComponent : ViewComponent
        {
            public async Task&lt;IViewComponentResult&gt; InvokeAsync(string randomText)
            {
                return View(new QuickExampleModel { Text = randomText });
            }
        }
    </code>
</pre>

<pre>
    <code>
        &#64;await Component.InvokeAsync("QuickExample5", new { RandomText = "Random Text for Quick Example 5" })
    </code>
</pre>
